html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    height: auto;
    margin: 0;
    background: 
        url("./images/bg-pattern-top.svg"),
        url("./images/bg-pattern-bottom.svg") hsl(185, 75%, 39%);
    height: auto;
    background-position: 
        right 54vw bottom 40vh,
        left 50vw top 50vh;
    background-repeat: no-repeat;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    min-height: auto;
    width: 100%;
    height: auto;
    align-items: center;
}
.card {margin-top: 3rem;
    justify-self: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 90%;
    max-width: 400px;
}
.banner-info-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
[src="./images/bg-pattern-card.svg"] {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
[src="./images/image-victor.jpg"] {
position: relative;
bottom: 48px;
border: 5px solid white;
border-radius: 50%;
}
.user-info {
    color: hsl(0, 0%, 59%);
}
h1 {
    margin-top: -30px;
    font-size: 1.25rem;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}
h1 > span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}
h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 25px;
}
.stats {
    border-top: 1px solid hsla(0, 0%, 59%, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.stats-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    line-height: 30px;
    width: 80%;
}
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}
p > span {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}
.attribution {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: hsl(229, 23%, 23%);
    width: 100%;
}
